<%= form_with(scope: :user_options, url: "/user_options", method: "patch") do |form| %>

  <% if user_options.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_options.errors.count, "error") %> prohibited this user_option from being saved:</h2>
      <ul>
        <% user_options.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="rifftube-edit-riff-options-div">
  <h3>Riffing Options:</h3>

  <div>
    <%= form.check_box :pause_to_riff %>
    <%= form.label :pause_to_riff %>
  </div>

  <div>
    <%= form.check_box :play_after_riff %>
    <%= form.label :play_after_riff %>
  </div>

  <div>
    <%= form.check_box :immediate_save %>
    <%= form.label :immediate_save %>
  </div>
  
  </div>

  <%= render "view_options_form", form: form %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
