<div>
  <h3>View Options:</h3>

  <div>
    <%= form.label :avatar_mode, "Avatar mode:", style: "display: block" %>
    <!-- %= form.number_field :avatar_mode % -->

    <%= form.collection_radio_buttons :avatar_mode,
    [[1, "Popup"], [2, "Theater"], [0, "None"]],
    :first, :last %>
  </div>

  <div>
    <%= form.check_box :always_speak_text %>
    <%= form.label :always_speak_text %>
  </div>

  <div>
    <%= form.label :default_voice, style: "display: block" %>
    <!-- %= form.text_field :default_voice % -->


    <select id="rifftube-options-voice-sel">
    </select>

    <%= form.hidden_field :default_voice %>

    <div>

      Sample phrase: <input id="rifftube-options-synth-text" placeholder="watch out for snakes">

      <button
        type="button"
        class="rifftube-synth-play-btn"
        onclick="rifftube.synth_playback(event)">
        ▶️
      </button>

    </div>

    <details open id="rifftube-options-synth-adv-det">
        <summary>Advanced Options</summary>
        <div>
            Pitch:
            <input type="range" id="rifftube-options-synth-pitch" step="0.1" min="0.1" max="2" value="1">
            <input type="number" id="rifftube-options-synth-pitch-num" step="0.1" min="0.1" max="2" value="1">
            <button
                onClick="rifftube.curSynthPitchNum.value=rifftube.curSynthPitchRange.value=1; event.preventDefault();">
                Reset
            </button>
                
        </div>
        <div>
            Rate:
            <input type="range" id="rifftube-options-synth-rate" step="0.1" min="0.1" max="10" value="1">
            <input type="number" id="rifftube-options-synth-rate-num" step="0.1" min="0.1" max="10" value="1">
            <button
                onClick="rifftube.curSynthRateNum.value=rifftube.curSynthRateRange.value=1; event.preventDefault();">
                Reset
            </button>
        </div>
    </details>

</div>

  </div>

  <div>
    <%= form.label :auto_duration_word_rate, "Auto-determined duration calculation:", style: "display: block" %>
    <!-- %= form.label :auto_duration_word_rate, style: "display: block" % -->
    N ✖️ <%= form.text_field :auto_duration_word_rate, style: "width: 3em" %> s
    <!-- %= form.label :auto_duration_constant, style: "display: block" % -->
    ➕ <%= form.text_field :auto_duration_constant, style: "width: 3em" %> s
    <br>
    (N = number of words in riff)
  </div>

  </div>